ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #98afdb;
   }
  
  li {
     
    float: left;
  }
  
  li a {
    font-size: 14px;
    display: block;
    color: rgb(2, 9, 26);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:  #464e5e;
  }
  
  a{
    color: inherit;
  }
  
  header{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  
  }