h2{
    font-size:18px;
}

.table thead.Categories{
    background-color:#7c72ff;
}

table,td,tr {
    color:rgb(2, 9, 26);
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
    padding:7px;
   
   }

   body{
       text-align:center;
   }